{:tier :glm-5.2, :verse 5, :comments ["<b>它必被显露。</b>当雅威重新施行这奇事时,雅威的荣耀就必被看见。" "<b>因为雅威的口已说了。</b>这些预言。"], :book "isaiah", :voice :ibn-ezra, :lang :zh-Hans, :chapter 40, :timestamp "2026-07-28T00:27:32.497979357Z", :translated-from :en, :model "glm-5.2"}