{:tier :glm-5.2, :verse 9, :comments ["<b>往南地去。</b>我们的拉比示罗密写道：往以色列地的南方去，那地属于犹大子孙的份，是他们在以色列地的南方所取得的。将来他的子孙也是如此，如经上所说（士1:2）：'犹大必先上去。'"], :book "genesis", :voice :ramban, :lang :zh-Hans, :chapter 12, :timestamp "2026-07-27T16:54:40.835880312Z", :translated-from :en, :model "glm-5.2"}