{:tier :glm-5.2, :verse 3, :comments ["<b>ויצמא [他渴了]。</b>当渴意在他们身上变得强烈时，他们向摩西发怨言，因为他把他们带出埃及地，是对他们行了恶事："], :book "exodus", :voice :ibn-ezra, :lang :zh-Hans, :chapter 17, :timestamp "2026-07-28T00:05:35.487897715Z", :translated-from :en, :model "glm-5.2"}