{:tier :glm-5.2, :verse 8, :comments ["<b>来了。</b>亚玛力族就是住在南地的那一族（民数记 13:29）。"], :book "exodus", :voice :ibn-ezra, :lang :zh-Hans, :chapter 17, :timestamp "2026-07-28T00:05:38.064814660Z", :translated-from :en, :model "glm-5.2"}