{:tier :glm-5.2, :verse 9, :comments ["<b>它们必临到你身上。</b>主权的丧失与儿子的死亡。" "<b>在它们丰满的时候。</b>当灾祸满了 [תממם] 之时，这是 piel 干式；这一切都是因你的巫术所致。"], :book "isaiah", :voice :ibn-ezra, :lang :zh-Hans, :chapter 47, :timestamp "2026-07-28T00:29:13.894203464Z", :translated-from :en, :model "glm-5.2"}