{:tier :glm-5.2, :verse 20, :comments ["<b>因你得以色列祝福。</b> 指所有以色列的儿女。" "<b>他立了以法莲。</b> 在祝福的话语中。"], :book "genesis", :voice :ibn-ezra, :lang :zh-Hans, :chapter 48, :timestamp "2026-07-28T00:18:50.221644770Z", :translated-from :en, :model "glm-5.2"}