{:tier :glm-5.2, :verse 17, :comments ["<b>我说:我必使你们上去。</b>你要对以色列人如此说。"], :book "exodus", :voice :chizkuni, :lang :zh-Hans, :chapter 3, :timestamp "2026-07-30T20:31:26.786570046Z", :translated-from :en, :model "glm-5.2"}