{:tier :glm-5.2, :verse 27, :comments ["<b>你们的始祖。</b> 他就是耶罗波安,以色列人立他为王,并非出于雅威的话。" "<b>以及你们的调解人。</b> 他们是领袖,即王的调解人;或利未人,即祭司的调解人。有人说「你们的父」指的是老师,如「我父啊,我父啊,以色列的战车马兵」(列王纪下 2:12),以及「他立我作法老的父」(创世记 45:8),「一切弹琴吹箫之人的祖」(创世记 4:21);而「调解人」则是学生,源自 כי המליץ (创世记 42:23) 的词根。"], :book "isaiah", :voice :ibn-ezra, :lang :zh-Hans, :chapter 43, :timestamp "2026-07-28T00:28:28.123646173Z", :translated-from :en, :model "glm-5.2"}