{:tier :glm-5.2, :verse 11, :comments ["<b>雅威啊，求你赐福他的物产。</b>指初熟之物与十一奉献。" "<b>以及他手所做的工。</b>指供物。" "<b>击打腰。</b>意思是：击打那些起来敌挡他的人。" "<b>那些起来的。</b>指那些起来敌挡他们的人，如 לים מכסי'［遮盖海面者］。"], :book "deuteronomy", :voice :ibn-ezra, :lang :zh-Hans, :chapter 33, :timestamp "2026-07-27T23:57:40.178334174Z", :translated-from :en, :model "glm-5.2"}