{:tier :glm-5.2, :verse 4, :comments ["<b>生下来第八天的儿子。</b> 如今的惯例是：当他们把婴儿带到会堂时，会说 ברוך הבא，因为 הבא 的数值升至八，而 ברוך הנמול 的数值也是八。"], :book "genesis", :voice :daat-zkenim, :lang :zh-Hans, :chapter 21, :timestamp "2026-07-30T15:45:59.221653867Z", :translated-from :en, :model "glm-5.2"}