{:tier :glm-5.2, :verse 19, :comments ["<b>你在你的土地上所有的日子。</b> 按字面意义来看,这里说「在你的土地上」,是因为当他们来到以色列地并分配土地时,利未人没有产业也没有继业,众人必须关注他们 [以供给他们]。"], :book "deuteronomy", :voice :daat-zkenim, :lang :zh-Hans, :chapter 12, :timestamp "2026-07-30T15:41:26.099669313Z", :translated-from :en, :model "glm-5.2"}