{:tier :glm-5.2, :verse 14, :comments ["<b>那被打死的以色列人的名字。</b> 这是因为,尽管他借此作出了赎罪,但他毕竟在众人面前杀了一位首领和王女,从而将自己置于危险之中。"], :book "numbers", :voice :sforno, :lang :zh-Hans, :chapter 25, :timestamp "2026-07-27T21:00:42.666985236Z", :translated-from :en, :model "glm-5.2"}