{:tier :glm-5.2, :verse 17, :comments ["<b>往南地这条路上去。</b> 往南地这条路上去。众所周知，埃及位于以色列地的南方，正如我在《但以理书》注释中所述。其证据是，埃及的纬度不足三十度，而耶路撒冷的纬度是三十三度；巴兰旷野又在埃及地的南边。此处「往南地」的意思，并非指营地的南边，而是指在迦南地的南边。证据就是属于犹大的希伯仑，因为经上说，犹大要从南边站在其边界上。"], :book "numbers", :voice :ibn-ezra, :lang :zh-Hans, :chapter 13, :timestamp "2026-07-28T00:49:45.095169200Z", :translated-from :en, :model "glm-5.2"}