{:tier :glm-5.2, :verse 37, :comments ["<b>למשל.</b> 在耳中。" "<b>ולשנינה.</b> 在口中，出自 ושננתם 的词根。" "<b>ינהגך ה'.</b> 在你的罪中，在此之前，当你还在你地上的时候，将有一年饥荒临到你。"], :book "deuteronomy", :voice :ibn-ezra, :lang :zh-Hans, :chapter 28, :timestamp "2026-07-27T23:56:29.373133867Z", :translated-from :en, :model "glm-5.2"}