{:tier :glm-5.2, :verse 29, :comments ["<b>他们就会明白自己的结局。</b> 他们会用心思想以色列受罚的结局。"], :book "deuteronomy", :voice :rashi, :lang :zh-Hans, :chapter 32, :timestamp "2026-08-02T10:27:30.794798564Z", :translated-from :en, :model "glm-5.2"}