{:tier :glm-5.2, :verse 8, :comments ["<b>摩西和亚伦来。</b>因为他们看见荣耀已经显现。"], :book "numbers", :voice :ibn-ezra, :lang :zh-Hans, :chapter 17, :timestamp "2026-07-28T00:50:29.148249987Z", :translated-from :en, :model "glm-5.2"}