{:tier :glm-5.2, :verse 23, :comments ["<b>单数。</b>以比喻而言，因为以色列中将有大喜乐，因为因着以色列的缘故，当他们被赎之时，HaShem 的荣耀将向全地显明。"], :book "isaiah", :voice :ibn-ezra, :lang :zh-Hans, :chapter 44, :timestamp "2026-07-28T00:28:43.987766342Z", :translated-from :en, :model "glm-5.2"}