{:tier :glm-5.2, :verse 11, :comments ["<b>非尼哈是以利亚撒的儿子。</b>这就是说，他们没有理由因为他在杀了西缅的领袖心利（Zimri）后而恨他，因为借此他将我的愤怒从他们身上转开，我没有把他们灭尽。"], :book "numbers", :voice :daat-zkenim, :lang :zh-Hans, :chapter 25, :timestamp "2026-07-30T15:50:46.719268902Z", :translated-from :en, :model "glm-5.2"}