{:tier :glm-5.2, :verse 13, :comments ["<b>你做的是什么事呢</b>的意思是：违背我的诫命。因为女人被包含在对亚当的警告之中，因为那时她是他骨中的骨，同样她也被包含在他的刑罚之内。他没有对女人说'你吃了那树上的'，因为她因自己的吃和自己的主意受了刑罚，正如蛇受了刑罚一样，因此她说'蛇欺骗了我，我就吃了'，因为那大的刑罚是因吃而临到的。由此我们可以推导出对那以言语使他人犯罪之人的刑罚，正如我们的拉比从经文'不可将绊脚石放在瞎子面前'（利未记 19:14）所教导我们的（《逾越节集》22b）。"], :book "genesis", :voice :ramban, :lang :zh-Hans, :chapter 3, :timestamp "2026-07-27T16:52:45.930906719Z", :translated-from :en, :model "glm-5.2"}