{:tier :glm-5.2, :verse 4, :comments ["<b>还有什么，等等。</b> 还有什么善待葡萄园的事是我没有做的呢？" "<b>为何。</b> 两个词，如 מזה בידך（出埃及记 4:2），同样如 מלכם תדכאו עמי（以赛亚书 3:15）。"], :book "isaiah", :voice :ibn-ezra, :lang :zh-Hans, :chapter 5, :timestamp "2026-07-28T00:22:31.266011395Z", :translated-from :en, :model "glm-5.2"}