{:tier :glm-5.2, :verse 8, :comments ["<b>你总要松开手</b>。这是不定式构造,凡是未完整书写之处都是缩写形式。此外,derash(字面解经)也是可以的。" "<b>你的手向他</b>。指向那一无所有的人。" "<b>你总要借给他</b>。你从你自己的出借给他,凭他的抵押。而「你借给他」[的意思是]你接受他的抵押。"], :book "deuteronomy", :voice :ibn-ezra, :lang :zh-Hans, :chapter 15, :timestamp "2026-07-27T23:54:45.763819205Z", :translated-from :en, :model "glm-5.2"}