{:tier :glm-5.2, :verse 13, :comments ["<b>你要说，你是我的妹妹。</b>亚伯拉罕的意图是：如果他们问起她是否已经出嫁，他会回答他们她的丈夫出远门了，他们便找不到办法杀她的丈夫，就会放过她。"], :book "genesis", :voice :chizkuni, :lang :zh-Hans, :chapter 12, :timestamp "2026-07-30T20:39:04.991639184Z", :translated-from :en, :model "glm-5.2"}