{:tier :glm-5.2, :verse 6, :comments ["<b>你要击打磐石。</b>他们在利非订,他前往何烈,要在那里找一块磐石。"], :book "exodus", :voice :chizkuni, :lang :zh-Hans, :chapter 17, :timestamp "2026-07-30T20:33:44.222820540Z", :translated-from :en, :model "glm-5.2"}