{:tier :glm-5.2, :verse 19, :comments ["<b>你额头上的汗水</b>。这是鼻子，在用力时最先出汗。这咒诅只落在那些耕种土壤的人身上，但「你必在痛苦中生育儿女」却临到了所有女人，因为 Chava 犯了罪又使别人犯罪，因此她的咒诅更重。" "<b>直到你归回地土。</b>但一旦他归回他的尘土而死去，判决便失效了，正如他所解释的。"], :book "genesis", :voice :chizkuni, :lang :zh-Hans, :chapter 3, :timestamp "2026-07-30T20:37:51.538685888Z", :translated-from :en, :model "glm-5.2"}