{:tier :glm-5.2, :verse 12, :comments ["<b>תר נערה.</b> 如同 עת（时间），也有人认为它来自词根 תור，因为他在指定的时候来到，取 וקול התור 之义。" "<b>מקץ היות לה.</b> 即终结，如同开头处的 מקץ שבע שנים。" "<b>שמן המר.</b> 一种上等的香料，对此存在分歧。"], :book "esther", :voice :ibn-ezra, :lang :zh-Hans, :chapter 2, :timestamp "2026-07-28T00:00:28.124987630Z", :translated-from :en, :model "glm-5.2"}