{:tier :glm-5.2, :verse 16, :comments ["<b>因为你们变得比我们太过强盛，等等。</b> 意思是，在他的伟大面前，王室的尊荣便黯然失色；对王而言，没有什么羞辱比这更甚了。"], :book "genesis", :voice :or-hachaim, :lang :zh-Hans, :chapter 26, :timestamp "2026-07-27T19:35:32.492764591Z", :translated-from :en, :model "glm-5.2"}