{:tier :glm-5.2, :verse 6, :comments ["<b>你要做……钩子。</b>类似的：<b>כרע בל קורס נבו</b>（以赛亚书46:1）。" "如今这十幅幔子就是会幕（Mishkan），而他称会幕为一个涵括万有的整体，因为每一个实体本身并不是单一之物，而是由许多单元组成的；荣耀之名也是如此，它是一个涵括万有的整体，被称为「一」；同样，小世界（人）与大世界（宇宙）也是如此。"], :book "exodus", :voice :ibn-ezra, :lang :zh-Hans, :chapter 26, :timestamp "2026-07-28T00:08:33.661310950Z", :translated-from :en, :model "glm-5.2"}