{:tier :glm-5.2, :verse 5, :comments ["<b>他们的祭坛。</b>用石头建造的。" "<b>他们的柱像。</b>单一的石头。" "<b>他们的亚舍拉。</b>他们所敬拜的树木。" "<b>他们的雕刻偶像。</b>雕像。"], :book "deuteronomy", :voice :rashi, :lang :zh-Hans, :chapter 7, :timestamp "2026-08-02T10:23:16.111037623Z", :translated-from :en, :model "glm-5.2"}