{:tier :glm-5.2, :verse 38, :comments ["<b>这就是你在坛上要做的。</b>这「做」是指将肢体排列在火柴上,在日出时进行;但常献祭 (<span>תמיד</span>) 的宰杀在此之前进行,在东方发亮的时候。六位祭司执行献祭:一人搬腿和头,第二人搬两条前腿,第三人搬后腿和腿,第四人搬胸和颈,第五人搬两肋,第六人搬内脏。"], :book "exodus", :voice :rabbeinu-bahya, :lang :zh-Hans, :chapter 29, :timestamp "2026-07-30T19:06:15.464606003Z", :translated-from :en, :model "glm-5.2"}