{:tier :glm-5.2, :verse 6, :comments ["<b>迦勒 ben 耶孚尼。</b> 他就是迦勒 ben 赫斯仑，他的名字被称为耶孚尼，因为他转离了探子们的计谋。"], :book "numbers", :voice :chizkuni, :lang :zh-Hans, :chapter 13, :timestamp "2026-07-30T20:50:06.184172530Z", :translated-from :en, :model "glm-5.2"}