{:tier :glm-5.2, :verse 30, :comments ["<b>בחרפה</b>（在羞辱中）：加上了一个 bet，如同上文第15节中 <b>במרורים</b>（在苦楚中）的第七个 bet。"], :book "lamentations", :voice :ibn-ezra, :lang :zh-Hans, :chapter 3, :timestamp "2026-07-28T00:39:11.146121087Z", :translated-from :en, :model "glm-5.2"}