{:tier :glm-5.2, :verse 17, :comments ["<b>祂穿上。</b>以比喻而言，如同勇士穿上 *tachra*，即铠甲：" "<b>衣裳。</b>两个 *tav* 是附加的，如同 *tiferet* 中的 *tav*（以赛亚书 3:18）：" "<b>祂以……裹身。</b>词根 עט，如同裹上披风："], :book "isaiah", :voice :ibn-ezra, :lang :zh-Hans, :chapter 59, :timestamp "2026-07-28T00:31:11.164938384Z", :translated-from :en, :model "glm-5.2"}