{:tier :glm-5.2, :verse 15, :comments ["<b>他要拧断[它的颈]。</b>用祭司自己的[手指]，因为它在祭坛的顶端，而不是用刀，如经上所记：״כי חרבך הנפת עליה ותחללה״（因为你拔刀临到它，亵渎了它）。正如下文所述的 מליקה 是从颈后进行的一样，这里也是从颈后进行的。" "<b>它的头，他要焚烧[它]。</b>正如我们发现焚烧时头与身体分开进行一样，מליקה 也是如此——头与身体分开，以切断两个记号的方式，为了履行分离的诫命。" "<b>它的血要流出。</b>它全部的血。如何做？头借着未被完全切断的连接而附于身体，从两者一并放血。我们的持守是：凡在 שחיטה 中导致不合格的，例如皮，在 הבדלה 中不导致不合格。" "<b>它的血要流在祭坛的墙上。</b>因为它的血量稀少，若用碗承接，便无法从中取血弹洒；因此他在祭坛顶端拧断[它的颈]，使血直接流在祭坛上。"], :book "leviticus", :voice :chizkuni, :lang :zh-Hans, :chapter 1, :timestamp "2026-07-30T20:44:36.783655364Z", :translated-from :en, :model "glm-5.2"}