{:tier :glm-5.2, :verse 31, :comments ["<b>我要对他说：『我的弟兄们……』</b>并且我还要对他说，<b>『那些人是牧羊的……』</b>"], :book "genesis", :voice :rashi, :lang :zh-Hans, :chapter 46, :timestamp "2026-08-02T10:46:01.686804781Z", :translated-from :en, :model "glm-5.2"}