{:tier :glm-5.2, :verse 32, :comments ["<b>所夺的财物，就是所掠之物中余剩的。</b>那些归于分配类别和估税类别的，除了动产和已消耗之物以外。经文提及了它们的数目，因为数目庞大，我们未曾听说过如此的掳物；同样，经文也提及了估税，因为它同样巨大。מכס 一词如同「份」，出自（出埃及记 12:4）的用语：「תכסו על השה」。"], :book "numbers", :voice :rabbeinu-bahya, :lang :zh-Hans, :chapter 31, :timestamp "2026-07-30T19:34:21.420343247Z", :translated-from :en, :model "glm-5.2"}