{:tier :glm-5.2, :verse 9, :comments ["<b>你们就必被记念。</b>因为你们已经行了至高者雅威所吩咐你们的事,这吹号声也作你们灵魂的记念,好向雅威呼求。"], :book "numbers", :voice :ibn-ezra, :lang :zh-Hans, :chapter 10, :timestamp "2026-07-28T00:49:09.861272405Z", :translated-from :en, :model "glm-5.2"}