{:tier :glm-5.2, :verse 25, :comments ["<b>以色列的长老。</b>在我看来，他们是那七十位被拣选的长老，这一说法是正确的。"], :book "numbers", :voice :ibn-ezra, :lang :zh-Hans, :chapter 16, :timestamp "2026-07-28T00:50:23.756451777Z", :translated-from :en, :model "glm-5.2"}