{:tier :glm-5.2, :verse 40, :comments ["<b>巴勒差遣人去巴兰那里。</b>除了他的膳食之外，另加一份尊荣的礼物，以满足他骄傲的渴求。"], :book "numbers", :voice :sforno, :lang :zh-Hans, :chapter 22, :timestamp "2026-07-27T21:00:23.469169789Z", :translated-from :en, :model "glm-5.2"}