{:tier :glm-5.2, :verse 25, :comments ["<b>若是在田野</b>等。你若问：城内与田野之间有何区别，何以经文将其主题分为两段——此处与彼处，其判刑皆为石头刑？这是因为存在一个让诉讼方加以区分的余地，即她可以声称她没有呼喊，是同意了的；因为倘若她呼喊了，人们就会听见，既然那里有见证人，如经上所记「那 man 就要死」，而没有见证人和警告就不能判处死刑。然而，可以回答说，田野与城内的案件确实有所区别。何以见得？若她在城中被发现，只要她没有呼喊，就总以石头刑判决。但若她在田野中呼喊了，即使见证人在行房中途来到并看见她同意了这过犯，她仍免于罪责。因此，<b>若是在田野，那 man 遇见那少女</b>的解释是：见证人在行房中途来到并警告了他——关于这一点，经文说<b>那 man 要独自死</b>——无论如何，无论他是强迫还是引诱，他既犯了奸淫，就当如此。至于那少女——即使她对见证人说：任凭他吧——经文说：<b>不可向她做什么</b>；她没有罪。为什么？<b>因为在田野遇见了她，独自一人</b>。我们可以这样说：那少女在行房之初呼喊了，<b>却无人救她</b>，因为在行房之时他们不在场。但现在她说『任凭他吧』，是因为她的私欲胜过了她。而按其字面意义，<b>那少女哭喊了</b>如同<b>他凭智慧救了那城</b>，意思是：倘若他们请教了他，他就会凭智慧救那城。此处也是如此：倘若她呼喊了，也没有人会救她，她害怕他杀她。若是如此，她是否同意对我们而言就存有疑问，而在存疑的情况下她不被处死，因为死刑案件中的疑案按从宽原则裁决。"], :book "deuteronomy", :voice :chizkuni, :lang :zh-Hans, :chapter 22, :timestamp "2026-07-30T20:29:23.758734533Z", :translated-from :en, :model "glm-5.2"}