{:tier :glm-5.2, :verse 1, :comments ["<b>人若娶妻。</b>它也是相连的 pericah [直译:「属田间的`]。" "<b>在他眼中蒙恩。</b>即她的本性与他的天性相反。" "<b>他在她身上发现。</b>而他无法揭露此事，因为他没有证人。其含义如同「或他在她身上发现」，正如「凡打父亲和母亲的」。"], :book "deuteronomy", :voice :ibn-ezra, :lang :zh-Hans, :chapter 24, :timestamp "2026-07-27T23:55:49.094573777Z", :translated-from :en, :model "glm-5.2"}