{:tier :glm-5.2, :verse 19, :comments ["<b>他们说。</b> 他们或许添了恩惠，又或许他们为羊群打的水不够。"], :book "exodus", :voice :ibn-ezra, :lang :zh-Hans, :chapter 2, :timestamp "2026-07-28T00:01:35.397238351Z", :translated-from :en, :model "glm-5.2"}