{:tier :glm-5.2, :verse 14, :comments ["<b>以萨迦，一头骨骼强壮的驴。</b>在《Niddah》篇中曾如此论述：一头驴促使了以萨迦的出生，因为当雅各从田间回来时，利亚听见了，他的驴躁动不安；她便出去迎接他，将他带回自己的帐棚，就在那一夜她怀了以萨迦。"], :book "genesis", :voice :daat-zkenim, :lang :zh-Hans, :chapter 49, :timestamp "2026-07-30T15:47:58.231849223Z", :translated-from :en, :model "glm-5.2"}