{:tier :glm-5.2, :verse 21, :comments ["<b>我必向他定睛。</b>即我可以看见他。"], :book "genesis", :voice :ibn-ezra, :lang :zh-Hans, :chapter 44, :timestamp "2026-07-28T00:18:25.965360441Z", :translated-from :en, :model "glm-5.2"}