{:tier :glm-5.2, :verse 8, :comments ["<b>ויצר לו</b> 这个词属于重式范式，如同「והצר לך」（申命记 28:53）。" "<b>ויחץ.</b> yod 因其后接的弱字母而以 patach 开口，如同「וַיַעַל משה」（出埃及记 19:20）。"], :book "genesis", :voice :ibn-ezra, :lang :zh-Hans, :chapter 32, :timestamp "2026-07-28T00:16:58.488103995Z", :translated-from :en, :model "glm-5.2"}