{:tier :glm-5.2, :verse 1, :comments ["<b>在歌珊地。</b>这是泛指;兰塞之地是具体的指定。<i>ayin</i> 是弱化的。在我看来,带开<i>ayin</i>的兰塞不是以色列人居住的地方,因为它是法老的储物城之一。"], :book "genesis", :voice :ibn-ezra, :lang :zh-Hans, :chapter 47, :timestamp "2026-07-28T00:18:37.365142713Z", :translated-from :en, :model "glm-5.2"}