{:tier :glm-5.2, :verse 11, :comments ["<b>他们还要藐视我到几时呢。</b>我要容忍他们藐视我,容忍到何等的极限呢?" "<b>他们还要不信我到几时呢。</b>我要行奇事到何等的极限,他们才肯信我、倚靠我的话语呢?"], :book "numbers", :voice :sforno, :lang :zh-Hans, :chapter 14, :timestamp "2026-07-27T20:59:24.714030611Z", :translated-from :en, :model "glm-5.2"}