{:tier :glm-5.2, :verse 16, :comments ["<b>\"约瑟的弟兄们来了\"</b>的原因是，约瑟已向法老全家表明，他在希伯来人之地有尊贵的弟兄，因为他是从那里被偷走的；如今他们听说约瑟的弟兄们来了，正如经上所说：" "<b>\"这事在法老眼中和他臣仆眼中看为好\"</b>，因为这件事对他们来说一直是个耻辱：一个外族人竟然管辖他们，一个从奴役之家出来的奴隶竟成了王。如今尊贵的弟兄来到了他这里，众人也因此知道他配站在君王面前，他们便都因这事欢喜："], :book "genesis", :voice :ramban, :lang :zh-Hans, :chapter 45, :timestamp "2026-07-27T17:04:34.174863316Z", :translated-from :en, :model "glm-5.2"}