{:tier :glm-5.2, :verse 5, :comments ["<b>心里甘心乐意的。</b>因为他的心促使他献上供物，所以被称为 נְדִיב לֵב。我已经在颁布相关命令的地方解释了会幕的自愿献祭及其建造："], :book "exodus", :voice :rashi, :lang :zh-Hans, :chapter 35, :timestamp "2026-08-02T10:36:56.033588295Z", :translated-from :en, :model "glm-5.2"}