{:tier :glm-5.2, :verse 24, :comments ["<b>使雨降在所多玛。</b>Rashi 的注释：这是太阳与月亮同在穹苍中的一个时辰，因为在一年中的那个时节月亮是残缺的，因为逾越节已经开始，月亮与太阳一同出现。" "<b>从雅威面前。</b>在《大创世记》和《坦胡马》中记载：第一位是加百列，因为我们已经确立那一位是火之使者，第二位是那位圣者，愿祂受称颂。"], :book "genesis", :voice :chizkuni, :lang :zh-Hans, :chapter 19, :timestamp "2026-07-30T20:39:57.702792049Z", :translated-from :en, :model "glm-5.2"}