{:tier :glm-5.2, :verse 2, :comments ["<b>他们要送出营外。</b>我们已经听见了警告;刑罚从何而来?经文说:״ואיש אשר יטמא ולא יתחטא״等等。" "<b>每个患痲疯的、每个患漏症的、每个因尸体而不洁净的。</b>这是三类不洁净的人,对应他们,经文写了三次送出去。这一切都有七天的污秽,且需要送出去;但对于遗精的人,情况并非如此。"], :book "numbers", :voice :chizkuni, :lang :zh-Hans, :chapter 5, :timestamp "2026-07-30T20:48:57.412441109Z", :translated-from :en, :model "glm-5.2"}