{:tier :glm-5.2, :verse 11, :comments ["<b>一个可信赖的人。</b>[意思即]任何可信赖的人。此处是多余的，而且不能读作 באמתו，因为经文要教导什么呢？况且，[若如此读]他根本就不具有人的形象。"], :book "deuteronomy", :voice :ibn-ezra, :lang :zh-Hans, :chapter 3, :timestamp "2026-07-27T23:53:14.885718452Z", :translated-from :en, :model "glm-5.2"}