{:tier :glm-5.2, :verse 25, :comments ["<b>第三天，他们正疼痛的时候。</b>令人惊奇的是：他们看见了什么，要对城里的人施欺骗，叫他们受割礼，之后再杀他们？可以说他们并未欺骗，因为到了第三天他们正在疼痛，并且后悔受了割礼，因此才杀了他们。令人惊奇的是他们为何等到第三天，因为不能说他们在第三天比在第一、第二天更疼痛。原因看来是：示剑全城的男人无法在一天之内全部受割礼，两天也不行，到了第三天他们就都在疼痛，因为那时他们全都已经受了割礼：״ויקחו איש חרבו״。"], :book "genesis", :voice :daat-zkenim, :lang :zh-Hans, :chapter 34, :timestamp "2026-07-30T15:46:50.949546403Z", :translated-from :en, :model "glm-5.2"}