{:tier :glm-5.2, :verse 46, :comments ["<b>若雅各娶赫人的女儿为妻。</b> 她的用意是要使雅各远离以扫。利百加对以撒说：你若不为此警告他，他就会一直想在此地定居，并从大有能力者的女儿中娶妻，以此壮大自己来对抗以扫。"], :book "genesis", :voice :chizkuni, :lang :zh-Hans, :chapter 27, :timestamp "2026-07-30T20:41:22.015373649Z", :translated-from :en, :model "glm-5.2"}