{:tier :glm-5.2, :verse 28, :comments ["<b>给他为妻。</b>经文藉着说<b>给他</b>等等，表明这家中的主母是拉结，因为她是他的命定配偶。"], :book "genesis", :voice :or-hachaim, :lang :zh-Hans, :chapter 29, :timestamp "2026-07-27T19:36:53.035358984Z", :translated-from :en, :model "glm-5.2"}